/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v21-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

h1,h2,h3 {
	font-weight: 700;
}

p,a,span,button {
	font-weight: 200;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

#home {
	position: relative;
	width: 100%;
	height: 100vh;
}

video {
	object-fit: cover;
	object-position: center;
	display: block;
	width: 100%;
	height: 100vh;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: #000;
	opacity: 0.5;
}

.home_text-container {
	top: 35%;
	left: 24px;
	width: 800px;
	position: absolute;
	color:#fff;
}

.home_sub-heading {
	width: 600px; 
}

.home_btn,
.contact_btn {
	color: #fff;
}

.btn-container {
	margin-top: 32px;
	display: flex;
	align-items: center;
	gap: 32px;
}

.contact_btn {
	background-color: #1B5083;
	padding: 16px 24px;
}

.home_btn {
	border: 1px solid #fff;
	padding: 16px 24px;
}
