@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	scroll-behavior: smooth;
}

:root {
	--blue-color: #1b5083;
	--light_blue-color: rgba(27, 80, 141, 0.4);
	--black-color: #333333;
	--gray-color: #f0f0f0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button:hover {
	cursor: pointer;
	border: none;
}

p,
a,
li {
	font-weight: 200;
	font-size: 16px;
}

strong {
	font-weight: 400;
}

.container {
	padding: 8rem 0;
}

.row {
	padding: 0 32px;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.nav_links {
	color: #fff;
}

.nav_links--black {
	color: #000;
}
/* landing page */
#home {
	position: relative;
	z-index: 50;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 98;
	transition: background-color 500ms ease;
}

nav.solid {
	background-color: rgba(0, 0, 0, 0.8);
}

.nav_container {
	padding: 16px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav_logo {
	width: 65px;
	visibility: hidden;
	transition: visibility 100ms ease;
}

#hamburger_menu {
	background-color: transparent;
	border: none;
	display: none;
}

#nav_modal {
	position: fixed;
	inset: 0;
	background-color: var(--black-color);
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	transition: visibility 500ms ease-in-out, opacity 300ms ease;
}

#nav_modal.show_modal {
	visibility: visible;
	opacity: 1;
}

.nav_modal--container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 16px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#license_number {
	position: absolute;
	color: #fff;
	bottom: 24px;
	right: 16px;
}

.nav_list {
	display: flex;
	align-items: center;
	gap: 32px;
}

.nav_modal--list {
	color: #fff;
	font-size: 16px;
	text-align: end;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.line {
	height: 1px;
	width: 300px;
	background-color: #aaa;
}

#exit-btn {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 32px;
	right: 32px;
}

#nav_contact--btn {
	border: none;
	background-color: var(--blue-color);
	padding: 4px 16px;
	color: #fff;
}

#home,
#landing_page--video {
	width: 100%;
	height: 100vh;
}

#landing_page--video {
	object-fit: cover;
	display: block;
	filter: brightness(0.6);
}

#landing_page--logo,
#title_container,
#scroll_down--btn,
.landing_page_btn--container {
	position: absolute;
}

#landing_page--logo {
	width: 250px;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
}

.title_container {
	position: absolute;
	color: #fff;
	top: 52%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	padding: 0 32px;
}

#company_title {
	font-size: 48px;
	font-weight: 600;
}

.company_sub--title {
	font-size: 32px;
}

.landing_page_btn--container {
	bottom: 32px;
	left: 32px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#service--btn,
#contact--btn {
	border: none;
	padding: 8px 16px;
	font-size: 16px;
}

#service--btn {
	background-color: var(--blue-color);
	color: #fff;
}

/* about us */
#about {
	position: relative;
}

.service_row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_header {
	margin-bottom: 8px;
	text-align: center;
}

.about_us--container {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#map {
	position: absolute;
	top: -3px;
	z-index: 1;
	width: 450px;
	right: 32px;
}

/* service */
#services {
	background-color: var(--black-color);
}

.service_header {
	text-align: center;
}

.service--container {
	position: relative;
	margin-top: 50px;
	display: flex;
	justify-content: center;

	grid-template-columns: repeat(2, 300px);
	gap: 25px;
}

.service_box {
	width: 300px;
	overflow: hidden;
	z-index: 80;
	transition: scale 300ms ease;
}

.service_box:hover {
	scale: 0.95;
}

.service_img {
	width: 300px;
	height: 200px;
	display: block;
}

.service_info--container {
	position: relative;
	width: 300px;
	background-color: var(--blue-color);
	height: 200px;
	color: #fff;
	padding: 8px;
}

.service_name {
	margin-bottom: 32px;
	font-size: 18px;
}

.service_info {
	width: 260px;
}

.service_icon {
	width: 30px;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.dots {
	position: absolute;
	width: 100px;
	top: -24px;
	left: -36px;
	z-index: 1;
}

.lighter_dot {
	position: absolute;
	bottom: -24px;
	z-index: 1;
	width: 100px;
	right: -10px;
}

.services_header {
	color: #fff;
}

/* choose us */
#choose_us {
	position: relative;
	width: 100%;
	height: 300px;
	z-index: 80;
}

#background_image {
	background-image: url('./assets/AdobeStock_101565173.jpeg');
	width: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
	filter: brightness(0.6);
}

.choose_us--text {
	position: absolute;
	color: #fff;
	top: 24px;
	left: 24px;
	width: 800px;
}

.keypoints--container {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
}

.keypoint-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% / 4);
	gap: 12px;
}

.icon_wrapper {
	border: 0.5px solid #fff;
	width: 75px;
	height: 75px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.keypoint_icon {
	width: 40px;
}

.keypoint_text {
	color: #fff;
	text-align: center;
}

/* portfolio */
#projects {
	position: relative;
}

.carousel {
	position: relative;
	width: 50%;
	height: 500px;
	max-width: 600px;
	overflow: hidden;
}

.carousel-images {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-images img {
	width: 100%;
}

.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	z-index: 100;
	transition: background-color 0.3s;
}

.carousel-button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

.projects_container {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.projects_row {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	align-items: center;
}

.square_dots2 {
	position: absolute;
	width: 100px;
	z-index: 1;
	top: 100px;
	left: 40%;
}

/* contact */
#contact {
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-start;
}

.phone_link,
.email_link {
	color: #fff;
}

.phone_link::before {
	content: url('./assets/phone_icon.svg');
	display: inline-block;
	vertical-align: -4px;
	margin-right: 8px;
}

.email_link::before {
	content: url('./assets/email_icon.svg');
	display: inline-block;
	vertical-align: -4px;
	margin-right: 8px;
}

/* footer */
footer {
	position: relative;
	width: 100%;
}

.footer_container {
	background-color: var(--black-color);
	padding: 24px;
	height: 280px;
	color: #fff;
}

.footer_list {
	margin-bottom: 18px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer_link a {
	color: #fff;
}

#contact {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--blue-color);
	width: 60%;
	padding: 16px;
	border-bottom-left-radius: 32px;
}

.copyright {
	position: absolute;
	right: 8px;
	bottom: 8px;
}

.copyright p {
	font-size: 12px;
}

/* paint service page */
#painting-services {
	position: relative;
}

.paint_nav_link {
	color: #000;
}

.paint_img {
	background-image: url('./assets/paint.webp');
}

.service_background_image {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
}

.page_title-info--container {
	position: absolute;
	right: 16px;
	bottom: 16px;
	height: 450px;
	text-align: start;
	background-color: rgba(255, 255, 255, 0.8);

	padding: 32px;
	border-top-left-radius: 46px;
}

.page_title {
	font-size: 56px;
	font-weight: 600;
	width: 100%;
}

.page_btn {
	color: #fff;
	background-color: var(--blue-color);
	padding: 8px 24px;
	margin-right: 32px;
}

.page_sub-heading {
	width: 700px;
	margin-bottom: 32px;
}

.residential_img--wrapper {
	width: 50%;
	overflow: hidden;
}

.residential_img {
	width: 100%;
	display: block;
}

.service_info--wrapper {
	width: 55%;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.content--container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.keypoint_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.keypoint:hover,
.keypoint--2:hover,
.keypoint--3:hover {
	background-color: var(--blue-color);
	color: #fff;
	cursor: default;
}

#commercial_service {
	background-color: var(--gray-color);
}

.commercial--container {
	flex-direction: row-reverse;
}

.repair_img {
	background-image: url('./assets/repairs.webp');
}

.keypoint,
.keypoint--2,
.keypoint--3 {
	text-align: center;
	width: calc(100% / 5.1);
	margin-bottom: 16px;
	border: 1px solid var(--blue-color);
	transition: color 300ms ease;
	transition: background-color 300ms ease;
	font-size: 14.5px;
}

.keypoint--2 {
	width: calc(100% / 4.1);
}

.keypoint--3 {
	width: calc(100% / 3.1);
}

/* maintenance */
.maintenance_img {
	background-image: url('./assets/maintenance.webp');
}

#quality_assurance {
	width: 75%;
}

/* remodeling */
.remodeling_img {
	background-image: url('./assets/remodeling.webp');
}

.quality_header {
	text-align: start;
}

.about_header {
	text-align: start;
}

.page_btn--container {
	width: 100%;
	display: flex;
}

/* 1380px */
@media (max-width: 1380px) {
	.service--container {
		display: grid;
	}

	.content--container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.service_type {
		text-align: center;
	}

	.keypoint_list {
		justify-content: center;
		gap: 4px;
	}

	.service_info--wrapper {
		text-align: center;
		width: 85%;
	}

	.keypoint,
	.keypoint--2,
	.keypoint--3 {
		width: calc(100% / 3);
	}

	.residential_img--wrapper {
		width: 600px;
	}
}

/* 890px */
@media (max-width: 890px) {
	.page_title {
		font-size: 32px;
	}

	.page_sub-heading,
	.service_info--wrapper p {
		font-size: 14px;
	}

	.page_sub-heading {
		width: 100%;
	}

	#choose_us,
	#background_image {
		height: 500px;
	}

	.keypoints--container {
		flex-wrap: wrap;
		top: 40%;
	}

	.keypoint-box {
		width: calc(100% / 2);
		margin-bottom: 16px;
	}

	.icon_wrapper {
		width: 60px;
		height: 60px;
	}

	.keypoint_icon {
		width: 30px;
	}

	.keypoint_text {
		font-size: 14px;
	}

	.choose_us--text {
		width: 80%;
	}

	.projects_row {
		flex-direction: column-reverse;
		gap: 24px;
		text-align: center;
	}

	.carousel {
		width: 400px;
		height: 400px;
	}

	.projects_container {
		width: 80%;
	}

	h2 {
		font-size: 20px;
	}

	.service_name {
		font-size: 16px;
	}

	.service_icon {
		width: 20px;
	}

	p,
	a,
	li {
		font-size: 14px;
	}

	.title_container {
		top: 48%;
	}

	#company_title {
		font-size: 32px;
	}
	.company_sub--title {
		font-size: 24px;
	}

	.page_title-info--container {
		height: 350px;
		width: 80%;
	}

	.nav_list {
		display: none;
	}

	#hamburger_menu {
		display: flex;
	}
}

@media (max-width: 776px) {
	.service--container {
		grid-template-columns: repeat(1, 300px);
	}

	#nav_logo {
		width: 45px;
	}

	.carousel {
		width: 350px;
		height: 350px;
	}

	.projects_container {
		width: 100%;
	}

	.about_us--container {
		margin-top: 320px;
		width: 100%;
	}

	#map {
		width: 350px;
		right: 12px;
	}

	.phone_link::before,
	.email_link::before {
		scale: 0.8;
	}

	.page_title {
		font-size: 24px;
	}

	.page_title-info--container {
		width: 90%;
	}

	.keypoint,
	.keypoint--2,
	.keypoint--3 {
		font-size: 12px;
		width: 150px;
	}

	.service_info--wrapper {
		width: 100%;
	}

	#quality_assurance {
		width: 100%;
	}
}

@media (max-width: 630px) {
	.residential_img--wrapper {
		width: 360px;
	}

	.footer_link a {
		font-size: 12px;
	}

	#contact p {
		font-size: 12px;
	}

	#contact {
		width: 95%;
	}

	.footer_container {
		height: 400px;
	}

	.footer_list {
		margin-top: 124px;
	}

	.copyright p {
		font-size: 10px;
	}
	p,
	a,
	li {
		font-size: 14px;
	}

	.service_info--wrapper p {
		font-size: 14px;
	}

	#company_title {
		font-size: 20px;
	}

	.company_sub--title {
		font-size: 16px;
	}

	.landing_page_btn--container {
		width: 100%;
		left: 50%;
		bottom: 52%;
		transform: translateX(-50%);
		flex-direction: row;
		justify-content: center;
	}

	#service--btn,
	#contact--btn {
		font-size: 12px;
		padding: 4px 16px;
	}

	#landing_page--logo {
		width: 100px;
		top: 28%;
	}

	.title_container {
		top: 38%;
	}

	.nav_modal--list {
		font-size: 14px;
	}
}
