@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-blue: #1B5083;
  --color-dark: #0C171C;
}

/* gen */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

strong {
  font-weight: 400;
}

.container {
  padding: 8rem 0;
}

.row {
  padding: 0 24px;
}

.column_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* home */
#home_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav__container {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home-landing_page--video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  display: block;
  filter: brightness(0.8);
}

.company_logo {
  width: 75px;
}

.nav__list {
  display: flex;
}

.nav__link {
  margin-left: 32px;
  color: #FFF;
  font-weight: 200;
}

.home-landing--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}

.title {
  font-size: 50px;
  font-weight: 100;
}

.home_sub-heading {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 32px;
}

.home_buttons--container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.home_button {
  color: #FFF;
  font-weight: 200;
  padding: 4px 16px;
  background-color: var(--color-blue);
}




/* our story */
.section--heading {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
}

.heading--divider {
  width: 100px;
  height: 2px;
  background-color: var(--color-blue);
  margin: 4px 0 32px 0;
}

.our-story {
  text-align: left;
  font-weight: 200;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 32px;
}




/* services */
#services::before {
  content: '';
  display: block;
  width: 100%;
  background-color: var(--color-dark);
  height: 100px;
  transform: skew(0deg, 5deg);
}

#services::after {
  content: '';
  display: block;
  width: 100%;
  background-color: var(--color-dark);
  height: 100px;
  transform: skew(0deg, 2deg);
}

#services {
  background-color: var(--color-dark);
}

.services--heading {
  color: #FFF;
}

.services_container {
  padding: 6rem 0;
}

.services--container {
  width: 100%;
  padding: 24px;
}

.service--1 {
  width: 300px;
  overflow: hidden;
}

.painting_service--img {
  width: 100%;
  display: block;
}

.services_text--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: var(--color-blue);
}

.service_text {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #FFF;
}

.services--container {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}



/* why us */
#why-choose-us {
  position: relative;
  background-image: url('./assets/AdobeStock_403345754.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
  height: 500px;
}
.dark--overlay {
  inset: 0;
  background-color: #0C171C;
  filter: opacity(0.5);
}

.dark--overlay,
.choose-us--heading,
.icons--container,
.choose-us--divider {
  position: absolute;
}

.choose-us--heading {
  color: #FFF;
}

.choose-us--divider {
  top: 34%;
}

.icons--container {
  padding: 0 24px;
  width: 100%;
  display: flex;
  z-index: 50;
  top: 50%;
  justify-content: space-between;
}

.keypoint {
  color: #FFF;
  font-weight: 200;
}

.icon--box {
  width: 300px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-evenly;
}




/* footer */
footer {
  background-color: var(--color-dark);
}

.footer__logo {
  width: 300px;
}

.directory_list {
  color: #1B5083;
  font-weight: 200;
}

.footer_link,
.footer_list--li {
  color: #FFF;
  font-weight: 100;
  margin: 4px 0;
}

.directory {
  display: flex;
  margin-top: 40px;
  gap: 80px;
  align-items: start;
}

.copyright,
.author {
  text-align: end;
  color: #FFF;
  font-weight: 100;
  font-size: 14px;
  padding: 2px 8px;
}